main.container {
  padding-top: 50px;
}

#form_user_signin {
  margin-top: 15%;
  width: 450px;
}

.form-group {
  position: relative;
}

.form-group input {
  padding-right: 16px;
}

.valid-flag {
  position: absolute;
  display: none;
  color: #28a745;
  right: 10px;
  bottom: 5px;
}

.form-control.is-valid~.valid-flag {
  display: inline-block;
}

.invalid-flag {
  position: absolute;
  display: none;
  color: #dc3545;
  right: 10px;
  bottom: 30px;
}

.form-control.is-invalid~.invalid-flag {
  display: inline-block;
}

/* .nav-item.dropdown {
  border-left: 1px solid rgba(255, 255, 255, .5);
  margin-left: 10px;
  padding-left: 5px;
} */

a[data-toggle="dropdown"] {
  text-transform: lowercase;
}

.user-name {
  margin-left: 5px;
}